<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ServiceUrl" value="http://pik3599.zonarsystems.net/interface.php"/>
    <add key="ServiceUserName" value="fw_upload"/>
    <add key="ServicePassword" value="p1kef!eet"/>
    <add key="WeatherURL" value="https://api.weather.com/v3/wx/hod/reanalysis/historical/point"/>
    <add key="Weatherkey" value="0d431ee6d751478f831ee6d751778fbc"/>
    <add key="EyeDataUrl" value="https://vehicle-api.3rdeyecam.com/tem/vehicles/location"/>
    <add key="EyeDataUserName" value="FleetIT@pike.com"/>
    <add key="EyeDataPassword" value="Pike3rdEye@1945"/>
  </appSettings>
</configuration>
